<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments::head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>错误</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="ui container">
    <div class="ui negative message m-margin-tb-large">
        <div class="header">
            404&nbsp;Error
        </div>
        <br>
        <span>请求资源不存在! </span>
        <a href="#" onclick="javascript :history.back(-1);">点击我返回上一页</a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<!--/*/<th:block th:replace="admin/_fragments::script">/*/-->
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="../../static/js/jquery-2.2.4.min.js"></script>
<script src="../../static/js/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
</body>
</html>